*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto";
	/*text-align: center;*/
}
.contenedor{

}
#tabla{
	text-align: center;
	margin:0 0 10px  0;
}
.div-input{
	text-align: center;

}
.campo-texto{
	width: 40%;
	padding: 10px 15px;
	color: #fff;
	font-size: 1.2em;
	border: none;
	border-bottom: 3px solid #6c7;
	background: #666;
	outline: none;
	border-radius: 4px;

}
.boton{
	margin: 15px auto;
	padding: 10px 0;
	display: block;
	background: #ccc;
	color: #333;
	border: 2px dashed #666;
	font-size: 1.2em;
	width: 30%;
	transition: background .4s, color .3s;
}
.boton:hover{
	background: #3c6;
	color: #eee;
	outline: none;
}
#tablaMultiplicar{
	text-align: center;
}
#tablaMultiplicar .lis{
	border: 2px solid #333;
	margin: 4px 2px;
	text-align: center;
	display: inline-block;
	width: 15%;
	padding: 20px 0;
	background: #eee;
	list-style-type: none;
	border-radius: 5px;
	box-shadow: 3px 5px 2px #666
}

